[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
requests = "==2.31.0"
numpy = "==1.26.4"
pandas = "==2.2.2"
yfinance = "==0.2.40"
plotly = "==5.22.0"
beautifulsoup4 = "==4.12.3"
lxml = "==5.2.2"
html5lib = "==1.1"

[dev-packages]

[requires]
python_version = "3.11"
